footer
  p
    | © 2024 pablodalcaraz. Todos los derechos reservados.  
    a(href="https://github.com/pablodalcaraz/Atenci-n_M-dica.git" target="_blank")
      i.fab.fa-github(aria-hidden="true")
    a(href="https://portfoliopabloalcaraz.netlify.app/" target="_blank")
      i.fa.fa-globe(aria-hidden="true")
