header
  nav.navbar.navbar-expand-lg.bg-body-tertiary.navbar-custom
    .container-fluid
      img(src="../images/atencionMedicaLogo.png", alt="logo" width='60' heigth='60')
      button.navbar-toggler(type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"  aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarNavAltMarkup")
        .navbar-nav
          a.nav-link(href="#" aria-disabled="true"  style="pointer-events: none; opacity: 0.5;") 
            strong Administración
          a.nav-link(href="#" aria-disabled="true"  style="pointer-events: none; opacity: 0.5;") 
            strong Contaduria
          a.nav-link#ingresar(href="#") 
            strong Médicos
          a.nav-link(href="#" aria-disabled="true"  style="pointer-events: none; opacity: 0.5;")  
            strong Gerencia 
          a.nav-link(href="#" aria-disabled="true"  style="pointer-events: none; opacity: 0.5;") 
            strong Mesa de ayuda 
      