html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
   
}

nav.navbar.navbar-expand-lg.navbar-custom{
    background-color: rgba(255, 255, 255, 0.3) !important; 
    box-shadow: 0 1px 2px #000;
}

.navbar-nav{
    margin-left: 20px;
    
}

.navbar-nav a{
    color: #000;
    margin: 10px;
    transform: transition 0.3s ease;
}
.navbar-nav a:hover{
    color: rgb(13,110,253);
    transform: scale(1.1); 
}
.container-fluid img{
    margin-left: 30px;
}
.card{
    box-shadow: 0 2px 4px #000;
}
#formLogin{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3) !important; 
    box-shadow: 0 1px 2px #000;
    width: 500px;
    visibility: hidden;
}

form input{
    background-color: rgba(255, 255, 255, 0.3) !important; 
    box-shadow: 0 1px 2px #000;
}  
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-primary.w-100 {
    padding: 12px;
}
.encabezado{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encabezado i{
    font-size: 24px;
    color: rgb(54, 130, 245);
}
.usuario{
    gap: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.usuario i{
    cursor: pointer;
    text-shadow: 1px 1px 0 #999;
    transform: transition 0.3s ease;
}
.usuario i:hover{
    text-shadow: 0 2px 4px #000;
    color: #999;
    transform: scale(1.2);
}
.usuario a{
    
    padding: 5px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
  
}
.usuario a:hover{
    background-color: #000;
    border: #000;
    transform: scale(1.1);
}
.cerrarSesion{
    border-radius: 5px;
}
.errorMail, .errorPassword{
    font-size: 12px;
}
#errorCredenciales{
    font-size: 12px;
}
.errorDescripcion, .errorDescripcionH, .errorFechaH, .errorDescripcionM, .errorFechaM, .errorNombre,.errorImportancia,.errorFechaAlergia{
    font-size: 12px;
}
tbody,thead{
    box-shadow: 0 2px 4px #000;
}
thead{
    background-color: rgb(54, 130, 245) !important;
}
tr{
    
    border: none !important;
}
thead th{
   
    border-right: 1px solid #c0c0c0;
}
tbody td{
    border-right: 1px solid #c0c0c0;
}
footer {
    margin: 0; 
    padding: 20px;
    color: #ffefff;
    background:linear-gradient(180deg, #8c8c8c,rgb(13,110,253));
    text-align: center;
    width: 100%; 
    margin-top: auto;

}
.title h2{
    text-shadow: 1px 1px 0 #fff,2px 2px 0 #999;
}
.title{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.title img{
   position: absolute;
   left: 0;
}
.title h2{
    padding-right: 0;
    text-align: center;
    margin: 0 auto;
}
.info-pac{
    display: flex;
    justify-content: space-around;
}
#filtros{
    display: flex;
    align-items: center;
}
.filtros form{
    display: flex; 
    gap: 1rem;
    
}
#filtros button{
    max-height: 40px;
    padding: 11px 5px;
    box-shadow: inset 0 2px 4px #000;
    margin-bottom: 11px;
}
#filtros button:hover {
    box-shadow: 0 2px 4px #000;
    background-color: silver !important;
    color: #000 !important;
}
#filtros input{
    box-shadow: inset 0 2px 4px #000;
    
}
#filtros select{
    width: 160px;
    height: 40px;
    box-shadow: inset 0 2px 4px #000;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
.errorFiltro,.errorFecha,.errorEspecialidad{
    font-size: 12px;
}
table{
    font-size: 13px;
}
table button{
    width: 100px;
}
form button {
    font-size: 10px !important;
    border: none !important;
}
.btn, button{
    box-shadow: 0 2px 4px #000;
}
.listaDiagnisticosIngresados{
    display: flex;
    justify-content: space-between;
}
.card-header{
    color: #f8f9fa !important;
    background-color: rgb(54, 130, 245) !important;
}
.card-header h2{
    text-shadow: 
        0px 0px 4px #000;
}
.errorCampo , .errorFechaEv{
    font-size: 12px;
}
#editor-container{
    height: 300px;
}
#templates,
#editor-container,
#diagnostico,
#estado_diagnostico,
#fechaDesde,
#fechaHasta,
textarea,
select{
    box-shadow: inset 0 2px 4px #000;
}
.editor-container {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}
.opcionales{
    display: flex;
    justify-content: space-between;
}
.opcionales button{
    width: 150px;
}
#registros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#registros table{
    width: 100%;
}
#item1,
#item2,
#item3,
#item4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#registros td{
    border-bottom: 1px solid #000;
}
#historialConsultas th{
    background-color: silver !important;
    border-bottom: none;
    box-shadow: inset 0 2px 4px #000;
    border-radius: 5px;
    text-align: center;
}
#btnEditarAlergia, #btnEditarAntecedente, #btnEditarHabito,#btnEditarMedicamento{
    padding: 0; 
    font-size: 13px;  
}

footer i{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transform: transition 0.3s ease;
}
footer i:hover{
    text-shadow: 0 2px 4px #fff;
    color: rgb(13,110,253);
    transform: scale(1.2);
}